.btn {
  padding: var(--padding-button);
  background-color: var(--background-accent);
  border-radius: var(--border-radius-forms);
  text-align: center;
  color: var(--text-main);
  font-family: 'Avenir-black', sans-serif;
  font-size: 14px;
}
