.input {
  padding: var(--padding-small) var(--padding-main);
  background-color: var(--background-light);
  border: none;
  outline: none;
  border-radius: var(--border-radius-forms);
  color: var(--text-main);
  font-family: 'Avenir-medium', sans-serif;
  font-size: 14px;
}
