@font-face {
  font-family: 'Avenir-black';
  src: url('/assets/fonts/avenir-black.ttf');
}

@font-face {
  font-family: 'Avenir-book';
  src: url('/assets/fonts/avenir-book.ttf');
}

@font-face {
  font-family: 'Avenir-heavy';
  src: url('/assets/fonts/avenir-heavy.ttf');
}

@font-face {
  font-family: 'Avenir-medium';
  src: url('/assets/fonts/avenir-medium.ttf');
}

@font-face {
  font-family: 'Avenir-regular';
  src: url('/assets/fonts/avenir-regular.ttf');
}
