@import 'vars';
@import 'utils';
@import 'fonts';

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-main);
  min-width: var(--min-width);
  color: var(--text-main);
  font-family: 'Avenir-black', sans-serif;
}

body, p, div, span, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}

@import './ui/index';
@import './header/index';
@import './main/index';
