:root {
  --background-main: #202329;
  --background-header: #20242A;
  --background-light: #30363E;

  --background-accent: #F9484B;
  --background-secondary: #4C84FF;
  --background-secondary-darker: #2D69EB;
  --background-divider: #1C1A1A;

  --text-main: #FFFFFF;
  --text-secondary: #FFFFFF50;
  --text-warning: #C69516;
  --text-info: #2658D7;
  --text-success: #00BA61;

  --icon-success: #00C868;

  --border-color: #C68CFF;

  --border-radius-main: 6px;
  --border-radius-forms: 4px;
  --border-radius-small: 3px;
  --border-radius-big: 10px;

  --shadow-color: #00000072;

  --margin-main: 18px;
  --margin-big: 32px;
  --margin-medium: 24px;
  --margin-small: 16px;
  --margin-tiny: 12px;

  --padding-main: 12px;
  --padding-small: 8px;
  --padding-button: 10px;

  --min-width: 320px;

}
